<!DOCTYPE HTML>
<html>
	<head>
		<title>Моя компания</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<partial name="Partial/_Styles" />
	</head>
	<body class="is-preload">
			<div id="wrapper">
					<div id="main">
						<div class="inner">
							@if (User.Identity.IsAuthenticated)
							{
								<partial name="Partial/_Header" />
							}
							@RenderBody()
						</div>
					</div>
					@if (User.Identity.IsAuthenticated)
					{			
						<partial name="Partial/_LeftSideBar" />
					}
			</div>
			<partial name="Partial/_Scripts" />
	</body>
</html>