<header id="header">
	<a asp-controller="Home" asp-action="Index" class="logo"><strong>Главная</strong></a>
	@if (User.Identity.IsAuthenticated)
	{
		<a asp-controller="Account" asp-action="Logout"><strong>Выйти</strong></a>
	}
</header>