<div id="sidebar">
	<div class="inner">
		<section id="search" class="alt">
			<form method="post" action="#">
				<input type="text" name="query" id="query" placeholder="Поиск" />
			</form>
		</section>
		
		<nav id="menu">
			<header class="major">
				<h2>Меню</h2>
			</header>
			<ul>
				@if (User.IsInRole("admin"))
				{
					<li><a asp-controller="Employees" asp-action="Index">Мои сотрудники</a></li>
				}
				else
				{
					<li><a asp-controller="Employees" asp-action="Index">Мои коллеги</a></li>
				}
				
				<li><a asp-controller="Projects" asp-action="Index">Мои проекты</a></li>
			</ul>
		</nav>							
	</div>
</div>