.trEmployee:hover {
    background-color: #FFF8DC;
    transition: all 0.3s ease-in-out;
}

.trProject:hover {
    background-color: #FFF8DC;
    transition: all 0.3s ease-in-out;
}

#header a {
    border-bottom: none;
}
